.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #000000, #55024a);
    padding: 20px;
    color: #f7f7f7;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
  
  button {
    width: 100%;
    padding: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  
  .back-button {
    position: absolute; /* Permite posicioná-lo no canto */
    top: 20px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    background-color: #55024a; /* Cor de fundo */
    color: #f7f7f7; /* Cor do texto */
    padding: 10px 15px; /* Espaçamento interno */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave para o hover */
  }
  
  .back-button:hover {
    background-color: #000000; /* Cor de fundo ao passar o mouse */
  }
  
  .back-link {
    position: absolute; /* Permite posicioná-lo no canto */
    top: 20px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    color: #f7f7f7; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    display: flex; /* Alinha o ícone e o texto */
    align-items: center; /* Centraliza verticalmente */
  }
  
  .back-link svg {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
    fill: #f7f7f7; /* Cor do ícone */
    transition: fill 0.3s; /* Transição suave para o hover */
  }
  
  .back-link:hover svg {
    fill: #ffffff; /* Cor do ícone ao passar o mouse */
  }
  