.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #000000, #55024a);
    padding: 20px;
    color: #f7f7f7;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
  
  button {
    width: 100%;
    padding: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #55024a;
    color: #f7f7f7;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #000000;
  }
  
  .back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #f7f7f7;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .back-link svg {
    margin-right: 5px;
    fill: #f7f7f7;
    transition: fill 0.3s;
  }
  
  .back-link:hover svg {
    fill: #ffffff;
  }
  