.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 225px;
  background: linear-gradient(135deg, #000000, #55024a);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  flex-shrink: 0;
  position: fixed;
  height: 100%;
}

.logo-section {
  padding: 20px;
  align-items: center;
}

.logo {
  max-width: 90%;
  height: auto;
}

.menu-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-section {
  margin-bottom: 30px;
  text-align: center;
}

.profile-section svg {
  width: 50px;
  height: 50px;
  color: #ffffff;
}

.menu-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-options .btn {
  width: 100%;
}

.content-area {
  flex-grow: 1;
  padding: 20px;
  margin-left: 225px;
  background: linear-gradient(135deg, #000000, #55024a);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.content-header {
  width: 100%;
  background: linear-gradient(135deg,#55024a, #000000 );
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content-header h2 {
  margin: 0;
  color: white;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.task-grid {
  display: grid;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.task-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.task-card h5 {
  margin-top: 30px;
  color: #2a1d38;
  text-align: center;
}

.task-dates {
  font-size: 12px;
  color: #555;
}

.task-card.completed {
  background-color: #d4edda;
}

.profile-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-link svg {
  width: 50px;
  height: 50px;
  color: #ffffff;
}

.profile-link p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.task-card:active {
  cursor: grabbing;
}

.task-card.dragging {
  background-color: #dbeafe;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.add-task-button {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #4285ce;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  align-self: flex-start;
}

.add-task-button svg {
  width: 24px;
  height: 24px;
}